<!DOCTYPE html>
<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  </head>
  <body class="d-flex flex-column h-100">
    <header>
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark" id="navbar">
            <div class="container-fluid">
            <ul class="navbar-nav ">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="./home.html">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="./hobbies.html">Hobbies</a>
                </li>		
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="./projects.html">Projects</a>
                </li>
            </ul>		
            <div class="float-left">
                <img src="../resources/img/icon.ico" alt="random icon" width="20" height="20" />
            </div>
            </div>
        </nav>
        <br>
    </header>
    <main class="flex-shrink-0">
        <div class="container main">
            <div class="row row-cols-3">
                <div class="col-9" id="self-desc" style="background-color: lightgoldenrodyellow;">
                    <h1 style="text-align: center;"> About me</h1>
                    <p>
                        I am a computer science and maths student interested in making beautiful native software applications. My main interest lies with in making software in C. I have done this by using the GTK framework, as it has native bindings to C and produces very small executables. It has been most easy to develop in this on linux--I use OpenSUSE as my distro.
                    </p>
                    <p>
                        When I'm not learning things, I enjoy drawing, making music, custom projects, and exercising. I would love to get into yoga and have been learning Chinese for almost 8 months now! I really enjoy animals and am looking to get a cat when I move to my new apartment in the summer!
                    </p>
                </div>
            </div>
        </div>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </body>
</html>