<form action="/login" method="post">
  <div class="form-group">
    <label for="email_id">Email address</label>
    <input type="email" class="form-control" id="email_id" placeholder="Enter email" name="email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <br>
  <button type="submit" class="btn btn-primary">Login</button>
</form>